{% extends "base.html" %}

{% block page1 %} Главная {% endblock page1 %}
{% block page2 %} Авторизация {% endblock page2 %}
{% block page1url %} {% url 'home_redirect' %} {% endblock page1url %}
{% block page2url %} {% url 'login' %} {% endblock page2url %}
{% block title %}Описание теста{% endblock title %}

{% block content %}
    <div class="container my-5">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">{{ test.title }}</h4>
                <p class="card-text">{{ test.description }}</p>
                <p class="card-text">Время на выполнения: {{ test.time|time:"H:i" }}</p>
                <p>Автор теста: {{ test.author }}</p>
                <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                    <a href="{% url 'reconstructor' test.id %}" class="btn btn-success" type="button">Редактировать тест</a>
                    <a href="{% url 'test_questions' test.id %}" class="btn btn-primary" type="button">Начать тест</a>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}