{% extends "main/base.html" %}

{% block page1 %} Конструктор {% endblock page1 %}
{% block page2 %} Авторизация {% endblock page2 %}

{% block content %}
    <main>
        <aside>
            <h2><b>Категории</b></h2>
            <section class="categories">
                <ul>
                    <li>Математика</li>
                    <li>Информатика</li>
                    <li>Java</li>
                    <li>Лингвистика</li>
                </ul>
            </section>
            <section class="statistics">
                <h2><b>Статистика</b></h2>
                <p>Решено: <b>9</b> </p>
                <p>Средний балл: <b>4.7</b></p>
            </section>
            <footer>
                <p class="text-primary">testlab@gmail.com</p>
                <p>Kazan, Republic of Tatarstan</p>
            </footer>
        </aside>
        <section class="content">
            <input type="text" placeholder="Поиск" class="search">
            {% for test in tests %}
                <div class="test">
                    <h3>{{ test.0 }} </h3>
                    <p> {{ test.1 }} </p>
                </div>
            {% endfor %}


            <div class="pagination">
                <div class="arrow-6">


                    <a href="{% url 'home_page' pg=1 %}" class="#"> <svg width="18px" height="17px" viewBox="0 0 18 17" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                        <g transform="translate(8.500000, 8.500000) scale(-1, 1) translate(-8.500000, -8.500000)">
                            <polygon class="arrow-6-pl" points="16.3746667 8.33860465 7.76133333 15.3067621 6.904 14.3175671 14.2906667 8.34246869 6.908 2.42790698 7.76 1.43613596"></polygon>
                            <polygon class="arrow-6-pl-fixed" points="16.3746667 8.33860465 7.76133333 15.3067621 6.904 14.3175671 14.2906667 8.34246869 6.908 2.42790698 7.76 1.43613596"></polygon>
                            <path d="M-1.48029737e-15,0.56157424 L-1.48029737e-15,16.1929159 L9.708,8.33860465 L-2.66453526e-15,0.56157424 L-1.48029737e-15,0.56157424 Z M1.33333333,3.30246869 L7.62533333,8.34246869 L1.33333333,13.4327013 L1.33333333,3.30246869 L1.33333333,3.30246869 Z"></path>
                        </g>
                    </svg></a>

                     {% for page in pages %}
                    <a href="{% url 'home_page' pg=page %}" class="btn" >{{ page }}</a>

                     {% endfor %}
                    <a href="{% url 'home_page' pg=last_page %}" class="#"><svg width="18px" height="17px" viewBox="-1 0 18 17" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                        <g>
                            <polygon class="arrow-6-pl" points="16.3746667 8.33860465 7.76133333 15.3067621 6.904 14.3175671 14.2906667 8.34246869 6.908 2.42790698 7.76 1.43613596"></polygon>
                            <polygon class="arrow-6-pl-fixed" points="16.3746667 8.33860465 7.76133333 15.3067621 6.904 14.3175671 14.2906667 8.34246869 6.908 2.42790698 7.76 1.43613596"></polygon>
                            <path d="M-4.58892184e-16,0.56157424 L-4.58892184e-16,16.1929159 L9.708,8.33860465 L-1.64313008e-15,0.56157424 L-4.58892184e-16,0.56157424 Z M1.33333333,3.30246869 L7.62533333,8.34246869 L1.33333333,13.4327013 L1.33333333,3.30246869 L1.33333333,3.30246869 Z"></path>
                        </g>
                    </svg></a>

                </div>

            </div>



        </section>
    </main>
{% endblock content %}
