<!DOCTYPE html>
<html>
<head>
    <title>500 - Внутренняя ошибка сервера</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            text-align: center;
            padding: 50px;
        }
        h1 {
            color: #c00;
        }
        p {
            font-size: 16px;
            margin-bottom: 20px;
        }
    </style>
</head>
<body>
    <h1>Упс, что-то пошло не так!</h1>
    <p>Извините, но, похоже, у нас возникла внутренняя проблема. Пожалуйста, попробуйте еще раз позже.</p>
    <p>Если проблема не решится, свяжитесь, пожалуйста, с нашей службой поддержки.</p>
</body>
</html>
